<h2><%= @song.title%> by <%= @song.artist.name %></h2>
<p class="list-group-item list-group-item-info" style="width: 30rem;">There are <%= @song.artist.songs.size %> other songs by <%= @song.artist.name %>.</p>
